#app {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-image: url(img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    z-index: -10;
    filter: blur(8px);
}

.card {
    border: 1px solid rgb(27, 26, 26);
    padding: 30px 30px;
}

.card h1,
p {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px 0;
}

.btn {
    width: 100%;
    cursor: pointer;
}

.aHref{
    background-color: black;
    color: white;
    display: none;
}