body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: palevioletred;
}

.container{
    background-color: white;
    width: 600px;
    border-radius: 10px;
   
    .header-quiz{
        h2 {
            text-align: center;
        }
         ul li {
            list-style-type: none;
            padding: 5px 40px;
        }
        input{
            cursor: pointer;
        }
    }
    button{
        width: 100%;
        padding: 20px 5px;
        border-radius: 0px 0px 10px 10px;
        color: white;
        background-color: blue;
        cursor: pointer;

     }

}