body{
    background-color: rgb(128, 125, 125);
}

.section-a{
   color: aqua;
   h3 {
    color: red;
   }
   p{
    color: aquamarine;
   a{
    text-decoration: none;
   }
   }
   
}

.section-b{
  display: flex;
  flex-direction: row;
  h3{
    color: green;
  }
  p{
    color: yellow;
  a{
    text-decoration: none;
  }
  }
}