.flex-container{
    width: 700px;
    height: 500px;
    border: 1px solid red;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    background-color: aqua;
    order: 4;
}
.box2{
    background-color: blanchedalmond;
    order: 2;
}
.box3{
    background-color: brown;
    order: 1;
}
.box4{
    background-color: blueviolet;
    order: 3;
}
